<@com.head title="角色管理"></@com.head>

<body data-type="generalComponents">

<@com.top>
</@com.top>


<div class="tpl-page-container tpl-page-header-fixed">

    <@com.navigate>
</@com.navigate>


<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">权限管理</div>
    <ol class="am-breadcrumb">
        <li><a href="${basePath}admin/index.html" class="am-icon-home">首页</a></li>
        <li><a href="${basePath}admin/userList.html">权限管理</a></li>
        <li class="am-active">角色管理</li>
    </ol>
    <div class="tpl-portlet-components">

        <div class="tpl-block">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <button type="button" class="am-btn am-btn-default am-btn-success" onclick="javascript:location='${basePath}admin/role/add.html'"><span
                                    class="am-icon-plus"></span> 新增角色
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-title">角色名称</th>
                                <th class="table-type">状态</th>
                                <th class="table-set">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <#list list as item>
                            <tr>
                                <td>${item.name}</td>
                                <td>
                                <#if item.available == 1>
                                    正常
                                <#else>
                                    禁用
                                </#if>
                                </td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="javascript:window.location.href='${basePath}admin/role/edit.html?id=${item.id}'"><span
                                                    class="am-icon-pencil-square-o"></span> 编辑
                                            </button>
                                            <button type="button" onclick="javascript:window.location.href='${basePath}admin/role/delete.html?id=${item.id}'" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only">
                                                <span class="am-icon-trash-o"></span> 删除
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </#list>

                            </tbody>
                        </table>
                        <div class="am-cf">

                        </div>
                        <hr>

                    </form>
                </div>

            </div>
        </div>
        <div class="tpl-alert"></div>
    </div>


</div>

</div>
<script type="text/javascript">
    function edit(id) {
        location.href="${basePath}admin/role/edit.html?id=" + id;
    }

</script>

</body>

<@com.foot></@com.foot>