<@com.head title="权限管理"></@com.head>

<body data-type="generalComponents">

<@com.top></@com.top>

<div class="tpl-page-container tpl-page-header-fixed">
    <@com.navigate></@com.navigate>



<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">权限管理</div>
    <ol class="am-breadcrumb">
        <li><a href="${basePath}admin/index.html" class="am-icon-home">首页</a></li>
        <li><a href="${basePath}admin/userList.html">权限管理</a></li>
        <li><a href="${basePath}admin/role/index.html">角色管理</a></li>
        <li class="am-active">角色权限</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 编辑角色
            </div>


        </div>

        <div class="tpl-block">

            <div class="am-g">
                <div class="tpl-form-body tpl-form-line">


                    <form name="editForm" class="am-form tpl-form-line-form" action="${basePath}admin/role/save.html" method="post">
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">角色名称 <span class="tpl-form-line-small-title">Name</span></label>
                            <div class="am-u-sm-9">
                                <input type="text" class="tpl-form-input" id="name" name="name" placeholder="请输入角色名称，如：管理员" value="" />
                                <small></small>
                            </div>
                        </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                        </div>
                    </div>
                    </form>



    </div>
</div>
</div>


</div>










</div>

</div>



</body>
<script type="text/javascript">
    $(function() {
        $(".tpl-btn-bg-color-success").bind("click", function () {
            $("form[name='editForm']").submit();
        });
    })
</script>
<@com.foot></@com.foot>